
:root{
    --honeydew: #F0FFF0;
}

body {
    background-color: #827C9B;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;

}

button {
    font-size: 30px;
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFB2FD;
    color: #810D76;
    flex-direction: row;
    left: 40%;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}


p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: var(--honeydew);
    line-height: 40px;
    top: 150px;
    text-align: center;
    display: block;

}

h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', Impact;
    color: black;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    border: 3px solid purple;
    border-radius: 50%;
    padding: 20px;
    width: 600px;
    position: relative;
    left: 35%;
    top: 100px;
    animation-name: boxcolorchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 20px #FFB2FD;
    display: block;
}


/* should transition colors inh1,h2,h3...*/

@keyframes boxcolorchange {
    0% {background-color: #B487BB;}
    50% {background-color:lavender;}
    100% {background-color: #CD80FF;}

}

/* glow affect on h1 tag */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

.black-background {
    margin:0;
    padding:0;
    border:0;
    width:fit-content;
}

.aesthetic-pic {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/327/232/3/glasses-monochrome-cat-animals-wallpaper-preview.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    border:0;

}


h1 {
    font-size: 150px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    top: 80px;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}

.seo-project {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
    top: 130px;
    margin: 30px;
    padding: 5px;
    position: relative;
   
}

.pass-generator {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
    top: 180px;
    margin: 30px;
    padding: 5px;
    left: 35%;
    position: relative;
   
}

.project3 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
    top: 180px;
    margin: 30px;
    padding: 5px;
    left: 56%;
    position: relative;
   

}

.caption {
    display: inline-flex;
    font-size: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    left: 140px;
    color: var(--honeydew);

}

.code-projects {
    display: block;
    flex-wrap: wrap;
}



.contact-section {
    padding: 0;
    margin: 0;
    position: relative;

}

.git-hub {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    top: 190px;
    position: relative;
    left: 10%;
}

.linkedIn {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    top: 190px;
    position: relative;
    left: 10%;
}

.email {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
    top: 150px;
    height: 200px;
    left: 10%;
    

}

.pics {
    display: inline-block;
    top: 230px;
    left: 30px;
    position: relative;
}

.cat-pics {
    border: 1px none;
    padding: 1px;
    margin: 1px;
    border-radius: 20px;
}


/*hover link for any <a> tags - right now only targeting info under contact me section*/
  
.contact-section a:hover {
    font-size: 45px;
    color: var(--honeydew);
    position: relative;
}

@media only screen and (max-width: 1400px) {

    h1, h2, h3, h4 {
        position: relative;
        left: 33%;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        width: 40%;
          
    }


    .aesthetic-pic {
        background-image: url(https://c4.wallpaperflare.com/wallpaper/327/232/3/glasses-monochrome-cat-animals-wallpaper-preview.jpg);
        min-height: 800px;
        background-attachment: fixed;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 50%;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
    
    }
      
    button {
        left: 33%;
    }
      
    p {
        font-size: 20px;
        text-align: center;
        word-wrap: break-word;
        justify-content: flex-end;
    }

    .cat-pics {
        display: block;
        flex-direction: row;
        flex: 100%;
        left: 100px;
        width: 200px;
        height: auto;
        left:5%;
    }
        
    .seo-project {
        width: 100px;
        height: auto;
        flex: 100%;
        margin: 5%;
        padding: 5%;
        display: inline-block;
        left: 10%;
    }

    .project2 {
        width: 100px;
        height: auto;
        margin: 5%;
        padding: 5%;
        display: inline-block;
        left: 10%;
    }

    .project3 {
        width: 100px;
        height: auto;
        flex: 100%;
        margin: 5%;
        padding: 5%;
        display: inline-block;
        left: 10%;
    }
    

    .caption {
        font-size: 100%;
        text-align: center;
        left: auto;
    }

    .pics {
        width: 220px;
        height: auto;
        flex-direction: row;
    }

    .code-projects {
        position: relative;
    
    }

    .contact-section {
        position: relative;
        flex: 100%;
        left: 0;
    }

    h1 {
        font-size: 100px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        top: 70px;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;
    }

    .email {
        display: inline;
        flex: 100%;
    
    }


}
