
:root{
    --lgreen: #5BFF33;
    --yellow: #EDF462;
    --dark: #100D4F;
    --honeydew: #F0FFF0;
}

body {
    background-color: #827C9B;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;

}

button {
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 150px;
    left: 770px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFB2FD;
    color: #810D76;
}

#button2 {
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: 300px;
    left: 1700px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFB2FD;
    color: #810D76;
}

#button3 {
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: 600px;
    left: 1300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFB2FD;
    color: #810D76;
}

#button4 {
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: 340px;
    left: 1700px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFB2FD;
    color: #810D76;  
}


p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: var(--honeydew);
    line-height: 40px;
    top: 150px;
    left: 30px;
    text-align: center;

}

h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', Impact;
    color: black;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    border: 3px solid purple;
    border-radius: 50%;
    padding: 20px;
    width: 600px;
    display: block;
    position: relative;
    left: 35%;
    top: 100px;
    animation-name: boxcolorchange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 20px #FFB2FD;
    z-index: .5px;
}


/* should transition colors inh1,h2,h3...*/

@keyframes boxcolorchange {
    0% {background-color: #B487BB;}
    50% {background-color:lavender;}
    100% {background-color: #CD80FF;}

}

/* glow affect on h1 tag */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}



.aesthetic-pic {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/327/232/3/glasses-monochrome-cat-animals-wallpaper-preview.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.email {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
    top: 150px;
    height: 200px;
    left: 460px;

}

h1 {
    font-size: 150px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    top: 80px;
    padding: 0;
    margin: 0;
    position: relative;
}

.seo-project {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    top: 200px;
    left: 300px;
    margin: 5px;
    padding: 5px;
    position: relative;


}

.project2 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    top: 200px;
    left: 620px;
    margin: 5px;
    padding: 5px;
    position: relative;
}

.project3 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    top: 200px;
    left: 1100px;
    margin: 5px;
    padding: 5px;
    position: relative;

}

.caption {
    display: inline-flex;
    font-size: 40px;
    position: relative;
    margin: 0;
    padding: 0;
    left: 75px;
    color: var(--honeydew);


}


.contact-section {
    padding: 0;
    margin: 0;
    position: relative;

}

.git-hub {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    top: 190px;
    position: relative;
    left: 460px;
}

.linkedIn {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 4px dashed #00F3FF;
    margin: 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    display: inline-block;
    top: 190px;
    position: relative;
    left: 460px;
}

.pics {
    display: inline-block;
    top: 230px;
    left: 30px;
    position: relative;
}

.cat-pics {
    border: 1px none;
    padding: 1px;
    margin: 1px;
    border-radius: 20px;
}


/*hover link for any <a> tags - right now only targeting info under contact me section*/
  
  .contact-section a:hover {
      font-size: 45px;
      color: var(--honeydew);
      position: relative;
  }

  @media only screen and (max-width: 1200px) {
      body {
          background-color: #e60073;
          margin: 0;
          padding: 0;
          flex-direction: column-reverse;
          overflow-x: hidden;
          
      }


      h1, h2, h3, h4 {
          position: relative;
          left: 50%;
          flex-direction: column;
          align-items: center;
          font-size: 30px;
          width: 40%;
          
      }


      .aesthetic-pic {
          display:flex;
          background-image: contain;
          width: 100vw;

      }
      
      p {
          font-size: 20px;
          text-align: center;
          word-wrap: break-word;
          justify-content: flex-end;
      }

      .cat-pics {
        display: block;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: auto;
        flex-wrap: wrap;
    
      }

      .black-background {
          align-content: center;
          width:fit-content;
          height: 500px;
      }

      .caption {
          font-size: 100%;
          text-align: center;
          left: auto;
      }

      .pics{
          width: 0;
          height: 0;
      }

      .code-projects {
          position: relative;

      }

     }



     @media only screen and (max-width: 700px) {
         body {
             background-image: none;
             background-color:black; 
             float: right;
         }
     }
         
     }